
.l-header {
    height: 58px;
}

.goat-logo {
    height: 40px;
}

.top-menu {
    margin-left: 50px;
}

.top-menu li {
    box-shadow: none !important;
}

.l-sample-app {
    text-align: center;
}

.goat-image {
    align-self: center;
    max-height: 400px;
    width: 400px;
    border-radius: 4px;
}

ul.top-menu > li > a.menu-active {
    color: #ee1c1b;
    font-weight: bold;
    text-decoration: underline;
}

.main-container .list {
    display: inline-block;
    max-width: 1000px;
    vertical-align: top;
    margin-right: 50px;
}

.button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    border: 1px solid #08F;
    border-radius: 4px;
    color: #08F;
    cursor: pointer;
    font-family: Helvetica Neue, Helvetica, Arial;
    font-size: 15px;
    font-weight: bold;
}
			